{
    "initial_cartesian_state" : [149597870.7, 0.0, 0.0, 0.0, 29.784691831696804, 0.0],
    "gravitational_parameter" : 1.32712440018e11,
    "start_epoch"             : 0.0,
    "step_size"               : 600.0,
    "number_of_steps"         : 100
}